.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
}

li.active {
  margin-top: -8px;
  padding: 8px 15px;
  background-color: dodgerblue;
  border-radius: 5px;
;
}

div.container {
  margin: 0 auto;
}

.pagination a:hover:not(.active) {background-color: #ddd;}